<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<div class="field">
<p class="f-name">Title</p>
  <%= f.text_field :title %>
</div>
<div class="field"></div>
  <p class="f-name">Body</p>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit 'Update Book' %>
<% end %>
</div>
<div class="option">
<%= link_to "show", book_path(@book.id) %> |
<%= link_to "back", books_path %>
</div>


